.track {
    display: inline-block;
    margin-top: 20px;
}

.beat {
    display: inline-block;
    width: 20px;
    height: 40px;
    background-color: gray;
    color: red;
    border: 1px solid blue;
}

.active {
    background-color: cyan;
}

.instrument-name {
    display: inline-block;
    width: 150px;
}